:root {
    --yellow: #f6d365;
    --black: #333333;
    --white: #ffffff;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   /* บอดี้ */
body {
    font-family: 'Kanit', sans-serif;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0,0,0,25);

}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.hamberger {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

/* header section */
header {
    height: 800px;
    background: url(../img/banner.bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideLeft 32s infinite;

    nav {
        margin: 0 2rem;

        .nav-wrapper {
            position: relative;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {

            }

            .menu {
                display: flex;
                list-style: none;
                font-size: 1.2rem;
                padding: 1rem 0;

                li {
                    margin-left: 50px;

                    a {
                        color: var(--white);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media  screen and (min-width: 768px) {
        .hamberger {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 3rem 0;

        nav {
            .nav-wrapper {
                flex-direction: column;
                align-items: start;
                margin: 3rem 0px;
                height: auto;

                .menu.show {
                    display: flex;
                }

                .menu {
                    flex-direction: column;
                    display: none;

                    li {
                        margin-left: 0;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    .discount-title {
        .discount-title-wrapper {
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .discount-title-box {
                width: 880px;
                margin: 10px;

                h1 {
                    font-size: clamp(2rem, 10vw, 6.875rem);
                    text-transform: uppercase;
                    text-shadow: rgb(0, 0, 0);
                }

                p {
                    font-size: clamp(1rem, 10vw, 1.875rem);
                    text-shadow: rgb(0, 0, 0);
                }

                .discount-btn {
                    background-color: rgb(148, 148, 223);
                    color: var(--white);
                    max-width: 320px;
                    width: 100%;
                    height: 65px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 60px;
                    text-shadow: none;
                    

                }
            }
        }
    }
}

@keyframes slideLeft {
  /* ภาพ 1 */
  0%   { background-image: url('../img/banner.bg.jpg'); }
  21%  { background-image: url('../img/banner.bg.jpg'); } /* ค้าง 7s */
  22%  { background-image: url('../img/banner.bg33.jpg'); } /* เปลี่ยนเร็ว */

  /* ภาพ 2 */
  23%  { background-image: url('../img/banner.bg33.jpg'); }
  45%  { background-image: url('../img/banner.bg33.jpg'); } /* ค้าง 7s */
  46%  { background-image: url('../img/banner.bg2.jpg'); }

  /* ภาพ 3 */
  47%  { background-image: url('../img/banner.bg2.jpg'); }
  69%  { background-image: url('../img/banner.bg2.jpg'); } /* ค้าง 7s */
  70%  { background-image: url('../img/banner.bg44.jpg'); }

  /* ภาพ 4 */
  71%  { background-image: url('../img/banner.bg44.jpg'); }
  93%  { background-image: url('../img/banner.bg44.jpg'); } /* ค้าง 7s */
  94%  { background-image: url('../img/banner.bg.jpg'); } /* กลับไปเริ่มใหม่ */

  100% { background-image: url('../img/banner.bg.jpg'); }
}

/* ai-examples */

.ai-examples {
    background: url(../img/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: var(--white);
    overflow: hidden;

    .ai-examples-title {
        margin: 3rem 0;
        text-align: center;

        h2 {
            font-size: clamp(2rem, 10vw, 3.875rem);
            text-transform: uppercase;
        }

        p {
            font-size: clamp(1rem, 10vw, 1.625rem);
        }
    }
    .ai-examples-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .ai-examples-title {
            text-align: center;

            img {
                width: 100%;
            }
            h3 {

            }
        }
    }
}